[2019-01-05 23:10] haffi78 opened #1 "mine ( Sonoff POW) does not go to LAN mode."
Not even the app see it if I disable its internet access.
the port 8081 is open for sure. but nothing :(

[2019-01-06 16:12] beveradb commented on #1
Sorry to hear that. How are you disabling internet access to the device?
Does your LED flash like this? [Sonoff basic controlled locally in LAN mode](https://www.youtube.com/watch?v=sxtt2cNm8g8)

Are you able to try this test script (modify IP, then run with `nodejs sonoff-lan-mode-test.js`): https://gist.github.com/beveradb/0def87f98205bd6647a574eea609b146 and let me know what it prints out?

[2019-01-07 17:09] tiagoboldt opened #2 "No module named `websocket`"
Great job. I've got my S20 working in lan mode and can toggle it with your javascript script.

Now for the home assistant one, I've added the file as described, but I always get an error, given that my home assistant does not have `websockets` installed.

Jan 07 17:04:52 rpi hass[16784]: ModuleNotFoundError: No module named 'websocket'

I've tried adding:

but this is not installing the requiremen

[2019-01-07 17:33] #2 closed, assigned to nobody

[2019-01-15 18:13] haffi78 commented on #1
Sending User Online Message: {"action":"userOnline","ts":"0","version":6,"apikey":"nonce","sequence":"1547575950201","userAgent":"app"}
Received Message: {"error":0,"apikey":"ccdafee5-af3b-4aa4-b118-c02d5ada08ae","sequence":"1547575950201","deviceid":"1000470e23"}
Switching On
Sending Update Message: {"action":"update","deviceid":"nonce","apikey":"nonce","selfApikey":"nonce","params":{"switch":"on

[2019-01-15 18:20] haffi78 commented on #1
plus the light is just red... :( and rapid blinkinn blue besided it just like your green.

[2019-01-19 01:10] PlayedIn opened #6 "2 channels not supported?"
I have a 2 channel sonoff type device that works in lan mode from the ewelink app.  In other words I have two switches in ewelink app for this one device.  2 rapid blinks  and it works in ewelink.   Cannot get your component to work.  Is it designed for strictly one channel sonoffs?  Firmware I have is 2.7.1.  Thanks.

[2019-01-19 02:13] beveradb commented on #1
Hmm, that's odd. Can you control it fine in LAN mode from the eWeLink app?

If so, the next step to getting this working would be to get a record (using `tcpdump`) of exactly what message the app is sending to the device to control it, so we can replicate that in this code.

If you don't know how to capture a tcpdump of the app communicating with the device, there's  helpful guide (targeting Tuya

[2019-01-19 02:13] beveradb commented on #6
Interesting! I don't have that device myself to test but can potentially help anyway if we can figure out what command it expects to receive to control each switch.

Are you able to try this test script (modify IP, then run with nodejs sonoff-lan-mode-test.js): https://gist.github.com/beveradb/0def87f98205bd6647a574eea609b146 and let me know what it prints out? That might give us a clue.

Otherwis

[2019-01-19 02:44] PlayedIn commented on #6
Thank you for your willingness to help.  I will review the links and get back to you once I have the results.

[2019-01-19 04:01] PlayedIn commented on #6
Here is the js output.  I probably pasted way too much but wasn't sure of when it became redundant.  Will look at the tcpdump capture when I get a chance.  Thanks

`C:\Users\Jeff>node sonoff-lan-mode-test2.js
Sending User Online Message: {"action":"userOnline","ts":"0","version":6,"apikey":"nonce","sequence":"1547869986410","userAgent":"app"}
Received Message: {"error":0,"apikey":"ab22d7b3-53de-44

[2019-01-19 04:34] PlayedIn commented on #6
Just an fyi, you see in the output above, there is a outlet 0, 1, 2, 3.   Even though I have a 2 channel, it shows up as a 4 channel in home assistant when I use  [this component](https://community.home-assistant.io/t/sonoff-ewelink-switch-component-for-original-firmware/81369)

[2019-01-19 08:43] haffi78 commented on #1
Nope lan mode on the ap does not work :(

Sent from my iPhone

[2019-01-19 11:05] peterbuga commented on #6
@PlayedIn i'm the developer behind the above mentioned component. the reason why you get 4 switches is because itead developer are treating ALL the devices that have more than 1 switch like having 4 outlets and then they use some sort of hash map to decide what is actually the number of outlets per device internally in the eWeLink app.

i've done something similar with my `websocket` branch as you

[2019-01-19 12:54] PlayedIn commented on #6
The fact that 4 switches are reported instead of the actual 2 switches is not a big deal to me.  Also the fact that both my 2 switches on the one device work easily with the ewelink app in lan mode gives me hope that this component will also work in lan mode for more than one channel/switch.

@beveradb Thanks for taking a look at the possibility of enabling support for more than one switch per dev

[2019-01-19 13:30] beveradb commented on #6
Thanks for getting involved @peterbuga. I hadn't come across your component previously - you've done a lot of great work!

Having read through your code in https://github.com/peterbuga/HASS-sonoff-ewelink/blob/master/sonoff.py (also your more recent work in the `websocket` branch), it looks like you've already implemented a much more robust replica of the eWeLink websocket control protocol.

From

[2019-01-19 13:53] beveradb commented on #6
In the meantime @PlayedIn:

Thanks for pasting your output from the test script - this bit is the informative part:
[code]

since on my Sonoff basic, that "params" response only contained:
[code]

Thanks to the work which @peterbuga has already done in his component, I'm pretty sure all we need to do to make this code control your switch is a minor tweak to specify which outlet(s) to switch.

Coul

[2019-01-19 18:10] PlayedIn commented on #6
Thanks @beveradb ,  I tested the script with output below.   Only one of my garage doors would open and close with this script.   Also not sure if it matters, but my sonoff is a momentary/inching type  instead of a "turn on and stay on until turned off" type.

[code]

[2019-01-20 02:41] tota-5 commented on #6
Hey, I'm extremely New to python, json and whatnot, but I'm trying to get the SONOFF working in lan mode (so far, i got this down), but my main use of the switches right now is as a wall switch for my smart lights.
The thing is that the lan component does not update the state of the entity in HA if I toggle it with the button... Any ideas on how to go about this?
I appreciate the help, and apologi

[2019-01-20 10:41] peterbuga commented on #6
@beveradb i'm not going to change the websocket address to the local IP address as this will create and tons of problems with current code 😅 , but YES the idea is sort of that one! as i mentioned in HA original thread i might end up using it as some sort of alternative or fallback to control the devices. i could check if a specific device is in LAN mode and use that to control it or use the cloud

[2019-01-20 10:43] peterbuga commented on #6
@ariel-madril i see that @beveradb left the sonoff-original-firmware party, i guess i might take over of some of (t)his work due time :)

[2019-01-20 17:02] tota-5 commented on #6
That's a shame. Could you point me somewhere i could start to understand how the sockets work?
I could take this up where he left off and implement the listener for the events and update HA states.
My background is 100% c++/c# game programming, so I have little idea on how a socket listener should behave, and the best practices opening/closing connections.

I just pulled the project here and I'll

[2019-01-21 00:20] PlayedIn commented on #6
@beveradb  has quit the project?  Did he comment as such somewhere?

[2019-01-21 09:30] peterbuga commented on #6
@PlayedIn not explicitly quit the project but i guess somehow harder to debug on his side maybe

[2019-01-21 12:41] beveradb commented on #6
Just to clarify, I'm definitely still around and happy to help! I currently don't have a Sonoff with original firmware for testing on though (there's a couple on the way, but mail from China is slow).

If you guys can provide packet dumps (e.g. using the [tPacketCapture app](https://play.google.com/store/apps/details?id=jp.co.taosoftware.android.packetcapture) for Android, or [Charles Proxy](https

[2019-01-21 12:50] beveradb commented on #6
@ariel-madril, please could you open a separate issue for me to help you get your device working?
Unless it's the exact same device as @PlayedIn, there's likely to be separate investigation required so it would be cleaner to keep the discussion separate.

If you could also try and provide the same things I've just asked him for in the above comment too, that would be very helpful to getting starte

[2019-01-21 14:36] beveradb commented on #1
Ah, sorry to hear that. I'm afraid if your device doesn't support LAN mode (that is, it can't be controlled by the eWeLink app), there's probably not much we can do to modify this component to support it either.

Your device (Sonoff POW) isn't in the list of supported devices on the [eWeLink LAN Mode page](https://help.ewelink.cc/hc/en-us/articles/360007134171-LAN-Mode-Tutorial), although there is

[2019-01-21 16:55] tota-5 commented on #6
Sure thing @beveradb ! Will open one right now!

[2019-01-21 16:58] tota-5 opened #7 "Sonoff basic state does not update if controlled by device's button"
If the state of the switch changes via a button press on the physical device, this state is not reflected in HA.

Steps to reproduce:
  -Setup a sonoff basic in HA with LAN support;
  -Press the sonoff black button on the device;
  -Sonoff switch state does not update on HA;

Expected:
  -States should be correctly shown in HA independent on what caused the change;

[2019-01-21 17:00] tota-5 commented on #7
I will get the android packagen sniffer and post here the dump as soon as I get home.
For what I read in the code, there isnt a 2 way communication happening, only the one via HA -> Sonoff basic.

If the state changes via switch, there is nothing listening to it in the component side to reflect it in HA.

The way I got to this issue was by setting up a wall switch, and pressing the button expectin

[2019-01-21 17:09] beveradb commented on #7
You're totally right, and I already knew this was the case in the back of my head, I was just lazy and implemented only the bare minimum to get the switch toggling!
Since my Sonoff is installed behind a light cluster there was never a use case for me to press the hardware button.

This is definitely something we should implement in this component, but it'll probably need a little bit more work/res

[2019-01-21 17:13] tota-5 commented on #7
I'm definitely down to help here! I got all the setup ready for testing. Hassio running on a raspy, the button close to the computer, and all components set and working!

I will be online today latter.

I could do it all myself if I only knew a little bit more about sockets, connection, etc...

Im guessing we will leave a listener function up per switch, and im guessing HA has a callback for state

[2019-01-21 18:14] beveradb commented on #1
In addition to the above, I've just ordered a Sonoff POW to hopefully do my own trial/error investigation with it 😄 - it'll be here at some point in the next week or two so I'll let you know once it arrives and I've replicated your setup.

[2019-01-21 22:24] PlayedIn commented on #6
Thanks @beveradb .

Here is an image of my setup.  I just have each of the two channels wired to two of the three buttons of a handheld garage remote.  So when I push the button icon in the ewelink app, it provides a momentary "push" of the garage remote control.   Each channel has a red and black wire (in my photo) that is soldered to one of the garage remote buttons which provide continuity mome

[2019-01-22 02:45] tota-5 commented on #7
i did some packet sniffing, and as this is my first time doing this, i looked for stuff that had the ip or mac adress of the sonoff i was testing, i got just one in a test where i purelly pressed the switch with the app running using the android sniffer you suggested.

I'll attach the result and provide information for you to filter, since i have no idea how to work most of this stuff.

link to th

[2019-01-22 03:16] PlayedIn commented on #6
Attached is a link to a pcap file.  I could only capture interaction between ewelink and the Chinese server.  In the app, I pressed the left garage door button. It opened.  I pressed the same button again. door closed.  Did the same for right side, then went through 2 more cycles of the same thing.   Whenever I tried it in lan mode, the ewelink app complained the local network wasn't available.  I

[2019-01-22 14:41] beveradb opened #8 "Some devices don't drop into LAN mode automatically after boot with no internet"
Report from user with S20, firmware 2.6.1:

"When I plug it in and internet access is blocked, mine keeps blinking once every couple of seconds, trying to connect to the internet. This goes on forever. A few seconds after unblocking its internet traffic, it stops blinking and fixes the green LED. Some minutes after I block the internet connectivity again, it drops to lan mode. So this one requires

[2019-01-22 15:13] beveradb commented on #8
So, I opened this in the hope of working with @tiagoboldt to do a bit of trial and error with his device (as I don't own an S20 yet).

I believe there's a chance we may be able to write code to programmatically force the device into LAN mode by telling it to use an invalid server URL.

Here are instructions copied from several repos: [sonoff-server](https://github.com/adam-golab/sonoff-server), [s

[2019-01-22 15:53] beveradb commented on #7
Awesome, thanks for sharing that packet dump!

So, there's nothing I haven't seen before from my own packet dump in that one (e.g. no multiple outlets or other parameters like the other issue thread), though it's certainly interesting to see multiple devices managed by the same eWeLink app so we can see what values are different.

Just as a heads up, [here's a screenshot](https://i.imgur.com/RqXue

[2019-01-22 16:46] tota-5 commented on #7
Thank you so much! Ill run it as soon as I get home! Thank you for helping me understand this! Next dump comes with a filter!

[2019-01-22 23:49] tota-5 commented on #7
I saw you committed a test script with the listening method! I'll test it in a bit and give you logs!

[2019-01-22 23:54] beveradb commented on #7
Sorry I didn't have anything for you to run when you got home - I've only just finished getting this to the point where it's usable.

We've now got a test script, in python, which implements most of a "proper" websocket client for interacting with Sonoffs in LAN mode: [test_sonoff.py](https://github.com/beveradb/sonoff-lan-mode-homeassistant/blob/master/test_sonoff.py)

So far I've only tested thi

[2019-01-23 02:02] tota-5 commented on #7
Nice! Ill try installing it in my HA and running it (altho i'm suspecting this isnt supposed to be tested in HA yet, as you said I should be running this in python 3 in my environment...)

If im supposed to run this somewhere else, the only thing I got is pycharm, with your project opened and a buch of errors of dependencies showing up and no idea on how to properly configure the project so it can

[2019-01-23 02:29] tota-5 commented on #7
ok, so I used ur test-sonoff, and got the following log:

[code]

Ill keep trying to get a grasp on what to do and finally get to code myself, im in between reading ur code and watching tutorials

[2019-01-23 03:22] tota-5 commented on #7
i think im getting a grasp on how python and HA shinanigans works!

Ive done some coding to resolve the setup issue with aparently success!

Here is what i added to test_sonoff just below the end of the imports, and above the class declaration:

[code]

and altered the constructor to reflect the new parameter:

[code]

and no more errors!

But i got this log instead now:

[code]

followed by

[cod

[2019-01-23 09:22] peterbuga commented on #8
great work @beveradb please keep it going as i would love to _borrow_ some of the code 😊
i had this crazy (and most likely stupid) idea regarding this issue: what if a golden-flow could be created when component is loaded and cut the internet connection of a the sonoff device **after** it connects to the internet forcing it to drop to LAN mode only using something like this https://github.com/rogl

[2019-01-23 10:36] tiagoboldt commented on #8
Hey guys, I won't be able to help. I've opened my S20 and flashed it "manually". Keep it up :)

[2019-01-23 12:39] beveradb commented on #7
Sorry @ariel-madril, I should have explained better! The test script isn't intended to work from HomeAssistant at all.

I've moved them to a subfolder, and added better explanation and instructions here: [non-hass-scripts](https://github.com/beveradb/sonoff-lan-mode-homeassistant/tree/master/non-hass-scripts)

Hope those help and you're able to get the test script working and upload a log file! If

[2019-01-23 14:20] beveradb commented on #8
Cheers @peterbuga - you're of course welcome to use anything of value. Your websocket client implementation was very helpful to me as a starting point for the [test scripts](https://github.com/beveradb/sonoff-lan-mode-homeassistant/tree/master/non-hass-scripts) I implemented yesterday. One of them is a very basic mock Sonoff device, allowing me to test my own LAN mode client until I have access to

[2019-01-23 14:55] beveradb commented on #6
Thanks so much for all the detail, @PlayedIn, that really helps me understand the context! (also, nice setup)

Unfortunately, that pcap file didn't contain anything helpful as all of the communication with the eWeLink server (in your capture, IP address `13.57.86.90`) was SSL encrypted.
I also didn't see any websocket traffic, which I was hoping/expecting to see - I guess control of the device via

[2019-01-23 15:23] tota-5 commented on #7
ah thank you! That explanation is right on point! I will provide logs latter today!

[2019-01-24 02:13] tota-5 commented on #7
got home! Followed ur superb written tutorial and guess what?
Total success!

Here goes the log!

[code]

[2019-01-24 10:13] beveradb commented on #7
Awesome, thank you! I'll get on with turning this test code into a proper HomeAssistant component so it can actually update state, and will mark this resolved once that code is merged - hopefully later today 😄

[2019-01-24 15:15] tota-5 commented on #7
Thank you! I will use ur code to learn more about coding for HA myself.
Depending on how good this solves my problem, i might not even flash my sonoffs at all, and focus on debuging the various syncing situations.
I want to start coding python, and this seems like an amazing opportunity for me to get some training in me!

[2019-01-24 17:02] PlayedIn commented on #6
@beveradb  Wow, thank you so much.  I will run that script tonight and post my results.

[2019-01-25 01:58] PlayedIn commented on #6
@beveradb Attached is the log file.   My device has 3 buttons even though it has 2 channels.  I pressed all 3. Please let me know if I didn't do anything correctly.  Thanks!

[test_sonoff.log](https://github.com/beveradb/sonoff-lan-mode-homeassistant/files/2794353/test_sonoff.log)

[2019-01-25 17:53] beveradb commented on #6
Thanks for that, it's helpful!

So, what I was hoping (or perhaps, expecting) to see here was simply confirmation that the device was essentially operating by switching each channel "on" for a second or two then "off" again - the equivalent of pressing the button on your garage door opener.
If that turns out to be the case, then presumably we can just do the exact same thing in reverse (switch the

[2019-01-25 21:20] PlayedIn commented on #6
Thanks @beveradb.  Attached are 4 logs with one button press per log. Here are the detailed steps of before and after each button press:
1. Both garage doors are closed
2. Started script up.
3. Pressed Outlet 0 button on sonoff
4. Left Garage Door opened
5. I waited roughly 2 minutes before ending script.
6. Renamed log to "Test 1 Outlet 0.log"
[Test 1 Outlet 0.log](https://github.com/beveradb/son

[2019-01-26 21:28] PlayedIn commented on #1
I'm wondering how people are "blocking" the internet.  My cable modem/router isn't able to block solely by IP address.  I have to specify a range of ports.   I tried 8081, 80, 443, etc...  but I ended up just choosing a range of 1-10,000 before I was successful in making my sonoff go into lan mode.

[2019-01-27 02:55] beveradb commented on #1
My Sonoff POW arrived yesterday so I've done a little more testing with it.

Firstly, it arrived with firmware version 2.0.4, so I soldered some jumper pins on, backed up that firmware over the serial interface, then updated it to 2.6.1 with the eWeLink app (backing up that version too - both are available to download [here](https://www.dropbox.com/sh/7eawx8mk4crkpa7/AACtYJgI8GxR32kssOX4PaFMa?dl=0

[2019-01-27 13:20] peterbuga commented on #1
yet another reason for flashing :|
i just ordered a Sonoff POW R2 and S26 (but don't when they might arrive though) and i might be of help to test and see if this one behaves the same (hopefully not 🤞)

[2019-01-27 14:04] haffi78 commented on #1
Ok This is the same I have and pretty much same expirance as yours Andrew, I did for the first time get the app to connect but I cannot controll the switch even though it says its online.
I just blocked the box from my nat so it does not get Natted out via iptables( on linux) and so it gets no connection. I would like to know if you do know what you use on the computer side ( hardware ) to flash,

[2019-01-27 14:48] beveradb commented on #1
Well, while the purpose of this repository is to try and help folks who can't/won't flash their devices for whatever reason, it is actually pretty easy to flash them, and in this case I'd probably recommend it as there's not much more we can do with the POW unless Itead release an update.

There are [lots](https://github.com/arendst/Sonoff-Tasmota/wiki/) of [instructions](https://github.com/xosepe

[2019-01-27 14:48] #1 closed, assigned to nobody

[2019-01-27 20:15] beveradb commented on #7
This is now a work in progress, thanks to initial energy from @ariel-madril - see PR #10 above.

I've been chatting to some other HASS devs and I'm really keen to refactor and improve this whole component, add tests, split out the API portion to a library on PyPI etc., but as that will take me quite a bit more time, I'm happy for this to be implemented in a hacky/minimum-functional way for now.

A

[2019-01-28 14:27] tota-5 commented on #7
I've done some work in my end, mostly trying to learn how to code python, and ended up successfully implementing a connection and listener for each device.
Right now i'm struggling with the sonoff devices not connecting to the socket, but i believe that it's just something i must be missing.

Anyway, my code is extremely experimental and dirty, as it's serving me as a learning project.

I will dit

[2019-01-31 02:28] beveradb commented on #7
Just an update, I've now finished implementing a proper asynchronous library to control Sonoff devices in LAN mode: [https://github.com/beveradb/pysonofflan](https://github.com/beveradb/pysonofflan)

This was the hard part - almost all decent quality HomeAssistant components don't have any core device-specific communication functionality in them; all of that is done in a library which is just impo

[2019-01-31 08:59] peterbuga commented on #7
That is some awesome work you've done there 🚀 👍 ! Looking forward to use this lib to my project one day (soon) 😄

[2019-02-02 03:12] beveradb commented on #7
That's #10 merged now, and I'm pretty happy with the implementation too - it's fully async, and there's very little code in the component itself since everything is in the library.

@ariel-madril, please reinstall this component and test!
I've installed it in my production Home Assistant setup and tested with a real Sonoff Basic, and it works perfectly for me.

I'll close this issue once you confi

[2019-02-04 23:32] Bramas commented on #7
Hi and thanks @beveradb. I tried it today and it works with my sonoff basic.
It was my first sonoff on my first home assistant installation!
I don't know if it is normal but I had to put requirements_dev.txt in the same folder ("custom_components/switch") otherwise the package pysonofflan is not found. But maybe that has nothing to do with it, but after the first restart I got a module not found e

[2019-02-04 23:43] beveradb commented on #7
Awesome, glad to hear it's working for you @Bramas!

Hmm, the requirements_dev.txt file shouldn't be relevant in any way.
The way it's supposed to work is that the first time Home Assistant tries to load a new component, it checks for any requirements defined in this `REQUIREMENTS` dict [here](https://github.com/beveradb/sonoff-lan-mode-homeassistant/blob/master/sonoff_lan_mode.py#L16) and install

[2019-02-05 14:54] beveradb opened #14 "Ugly CancelledError raised / logged when device unconnectable"
[code]

[2019-02-05 20:07] Bramas commented on #7
Hi,
I reproduced the error, but it only appears once after the first restart. If I restart again home-assistant, everything works well. It looks like the requirements in `REQUIREMENTS` are installed after the call of `async_setup_platform(...)` (see log below).

my setup: ubuntu server 18.04 (in virtualbox in windows 10), docker with home-assistant image.
first I launch the docker image to create

[2019-02-18 11:12] skynsoul1011 opened #21 "It doesn't work in HA after unexpected disconnection"
Hello.
I've been using your component in homeassistant well. Thanks.
But, I found some problems.

Sonoff devices are no longer in control after unexpected disconnection such as wi-fi problem, power lost and so on.

Also, when homeassistant is starting and loading the configure files, if a device have connection error like the above problems, the device's state is 'unavailable' . so, I have to rest

[2019-02-21 22:38] beveradb commented on #21
Thanks for the feedback!

That makes sense, as I haven't spent much time doing testing of those scenarios yet unfortunately.

I'll try and spend some time working on improving the component over the next few days to handle disconnections more gracefully.

Cheers,
Andrew

[2019-04-08 22:08] TylerTheFox commented on #21
This issue sometimes takes multiple restarts (5 is the most I've seen) of hass to fix the `unavailable` issue after wifi disconnection/device restart.

[2019-04-13 13:13] mattsaxon opened #51 "Update component location in Wiki"
Great work Andrew, I've just started using your component.

This is just a minor issue with the wiki that it suggest to install the component in a deprecated directory, the location is still working for me (version 90.1), but an error in the log suggests it will stop working soon.

The location to put the script should be "custom_components/sonoff_lan_mode/switch.py" (so a rename of directory and

[2019-04-13 13:22] mattsaxon opened #52 "icon attribute not supported"
The icon attribute does not work for this component.

Whilst this doesn't prevent working, the wiki instruction suggest to use the icon attribute and this results in the following error in the log

"Your configuration contains extra keys that the platform does not support.
Please remove [icon].  (See /config/configuration.yaml, line 148)."

[2019-04-15 15:44] beveradb commented on #51
Thanks for the heads up!

Does this look right? https://github.com/beveradb/sonoff-lan-mode-homeassistant/pull/53

[2019-04-15 17:00] mattsaxon commented on #51
Yes, PR looks good to me.

[2019-04-15 19:12] #51 closed, assigned to nobody

[2019-04-16 12:58] mattsaxon opened #56 "HomeAssistant unresponsive after connection refused error"
HA sometime becomes unresponsive, the UI is no longer available, returning ERR_CONNECTION_REFUSED to the browser.

I have had this multiple times over the last few days since starting to use the component (I am on latest code as of today and it also occurred with previous versions)

Below is an abstract of the error which occurred on startup of HA, the switch was working faultlessly prior to resta

[2019-04-16 19:52] mattsaxon commented on #56
Another trace for your consideration. This one is a startup trace with all the sonoff_land_mode entries.

This trace only has a single switch configured, so may be easier to follow. Again HA is hung, but for this problem I had to resort to a host reboot, not just a restart of HA.

[code]

[2019-04-16 20:01] beveradb commented on #56
Ooft, thanks for the trace and attempts to narrow down the issue, and sorry to hear the component actually crashed your Home Assistant host - that's definitely not good!

I don't have capacity to look into this properly right now (e.g. checkout code and try to reproduce) I'm afraid, my evenings and weekends are consumed by lesson prep for work just now, but I hope to have a little more free time c

[2019-04-17 13:37] mattsaxon commented on #56
I've made some progress on fixing this (in pysonofflan.py).

I'm testing a fix at the moment locally and if successful, will submit a PR is due course

Issue was a result of;

1. websocket.recv() was getting ConnectionClosed exception.
2. This was not caught, but the receive loop is exited, resulting in the component instance stopping functioning.

I'm very new to HA and this is my first foray int

[2019-04-17 18:30] mattsaxon commented on #56
Further update.

It looks to me as if the websockets version in HA is v6 and automatic ping/pong only came in with v7 of websockets (see https://websockets.readthedocs.io/en/stable/changelog.html).

@beveradb, I don't see any PONG debug messages when running inside HA, can I check if you've seen any and it is something to do with my specific setup (for example I'm running Hassio on a Pi)

I'll loo

[2019-04-18 15:44] mattsaxon commented on #56
My draft fix is within PySonOffLan

Here is the issue in that Repo which also linked to the PR https://github.com/beveradb/pysonofflan/issues/45

I have been testing this with websockets 6.0 at the moment, but will look to upgrade to 7 in due course.

[2019-04-21 22:17] beveradb commented on #56
Thanks for your efforts on this, it looks like you're making progress!

So to respond to a couple of your points:

Unfortunately, when I implemented `pysonofflan`, I didn't think about the possibility of a dependency clash with other Home Assistant dependencies. As such, my implementation was based on the current version (7), was tested with that version, and is reliant on features such as the bui

[2019-04-22 17:14] mattsaxon commented on #56
Thanks Andrew, that all makes sense, I appreciate the detailed explanation.

Pity on the HA dependency on WS6. I'd stuck with 6 anyway for now as am making progress. The code won't be as tidy as it could be with ping/pong implemented though.

I've currently got a working version that caters for all failures I've come across. It needs some tidying up before I commit anything though. Hopefully will

[2019-04-23 08:23] mattsaxon commented on #56
@beveradb, one further question on asyncio. I'm on the same learning curve and I wondered if we might simplify this by supporting less versions of Python. I note you are supporting 3.5, 3.6, 3.7 at the moment and that asyncio has made quite significant changes between these. I'm using 3.7 on the basis it is the latest and also the one the latest HA uses. Can we simplify our learning by just target

[2019-04-23 10:01] beveradb commented on #56
I'm all for simplification, and had the same frustration with `asyncio` changing substantially between 3.5-3.7, but I'm keen to get this component into the upstream Home Assistant project at some point so we have to give that consideration.

As such, it has to support the same Python versions supported by HA itself - [currently 3.5.3 and above](https://www.home-assistant.io/docs/installation/#alte

[2019-04-23 17:17] mattsaxon commented on #56
Thanks for all the info. My (incorrect) assertion on HA using 3.7 was based on my limited use, which has all been on Hassio to date.

I'll consider all you say whilst I'm refactoring my retry workings into something that is fit for review.

Do you have a preference for how I submit, for example would you like issues raised for each piece I find or shall I just add comments to PRs and we can review

[2019-04-23 20:08] beveradb commented on #56
Sounds good, thanks!

No particular preference here, whatever is easiest for you. I'd probably lean towards smaller PRs, but only as small as is meaningful & functional.

[2019-04-26 08:23] mattsaxon commented on #56
Latest PR submitted here https://github.com/beveradb/pysonofflan/pull/48

[2019-04-26 08:24] mattsaxon commented on #21
I believe I've fixed this in latest PR here https://github.com/beveradb/pysonofflan/pull/48

[2019-04-26 08:24] mattsaxon commented on #14
I believe this is also fixed by https://github.com/beveradb/pysonofflan/pull/48

[2019-04-26 08:28] mattsaxon opened #66 "After device is not operated for a long time, connection is dropped"
HA WebSockets library requirement for v6.0 which means ping/pong not fully implemented.

This PR (https://github.com/beveradb/pysonofflan/pull/48) can recover from this state, but the responsiveness of the switch is reduced.

Option to resolve;

1. Upgrade HA to WS7
2. Run 'local' copy of WS7 in custom_components folder
3. Implement Ping/Pong on top of WS6
4. Send other keep alive messages (e.g. s

[2019-04-26 08:30] mattsaxon commented on #66
A point of note which I am still trying to get my head around is that the requirements file https://github.com/beveradb/sonoff-lan-mode-homeassistant/blob/master/requirements_dev.txt specifies WebSockets 0.56, this seems to be from a different implementation (https://pypi.org/project/websocket_client/) as opposed to https://pypi.org/project/websockets/

What is the lineage here?

[2019-04-27 15:01] mattsaxon commented on #66
Following on the option 1 above, upgrading HA to WS7, I can see that only a single component specifies WS6, which is webostv.

Furthermore, there is a fairly recent update to move from WS3.2 to WS6.0 here https://github.com/home-assistant/home-assistant/pull/16578.

[2019-04-29 08:33] mattsaxon commented on #52
Add PR https://github.com/beveradb/sonoff-lan-mode-homeassistant/pull/65 to fix

[2019-04-29 08:35] mattsaxon commented on #52
Note, example in read.me needed fixing too https://github.com/beveradb/sonoff-lan-mode-homeassistant/pull/65

[2019-04-29 16:00] mattsaxon commented on #66
Further info. I tried to upgrade to WS7 manually, but I couldn't make this upgrade. First the discord.py component complained that the version was too new. I removed this component using 'pip', but I still couldn't force the upgrade. I wonder if this may be because I'm using hassio? (whilst I was able to remove discord and upgrade pip itself inside the docker container, when trying to upgrade to W

[2019-04-29 20:29] beveradb commented on #66
I'm glad to hear you've got option 3 (custom implementation of ping/pong) working, but the reinvention of the wheel is certainly frustrating, especially as it looks like it's down to a [low-effort decision in the discord.py project](https://github.com/Rapptz/discord.py/commit/5fe1ab279af779fd225278517261d09690af0106)...

Sorry for the confusion here, that requirements_dev.txt file is probably tota

[2019-05-25 00:33] max-rh opened #69 "Wrong Custom component location ??"
Hello there,
Thanks for the amazing work, was looking for something like this for a long time.

When i placed the component in the custom_components directory HA didn't recognize it `"Integration sonoff_lan_mode not found when trying to verify its switch platform."`

Note: I already have other custom_components within the directory and they work fine.

Any Advice?

Thanks

[2019-05-25 07:53] mattsaxon commented on #69
I have a manifest.json in the same directory which fixed this for me, its part of this PR https://github.com/beveradb/sonoff-lan-mode-homeassistant/pull/65.

[2019-07-29 22:03] tomascrespo opened #72 "Unexpected error in setup_connection(): could not convert string to float: '8.0.1'"
Hi! I've just installed this component. It will be wonderfull for my setup.

I get the module loaded and the entity created, but I can use it. I have a lot of this errors on log:
`2019-07-29 23:56:13 ERROR (MainThread) [homeassistant.components.switch.sonoff_lan_mode] Unexpected error in setup_connection(): could not convert string to float: '8.0.1'`

Any idea?

My Home Assistant is 0.96.5 on Rasp

[2019-07-30 12:08] mattsaxon commented on #72
This is due to using WebSockets 8.0.1, the string '8.0.1' cannot be converted to a float.

@tomascrespo, how did websockets 8.0.1 get installed, HA uses WS 6.0

[2019-07-30 13:08] tomascrespo commented on #72
I have no idea. Could it be related with Python version?

I upgraden (manually) to Python 3.7, but I don't have any other custom installation.

Any solution?

[2019-07-30 13:20] mattsaxon commented on #72
If you are happy to do such manual installations, an easy fix would be to do a specific install of WS 8.0. If that causes other issues it should be easy to regress

[2019-07-30 13:51] mattsaxon commented on #72
I'd recommend trying "pip install websockets==8.0". However note that this component to my knowledge has only been tested with 6.0 and 7.0

[2019-07-30 14:02] tomascrespo commented on #72
I've just done:
` pip install 'websockets==6.0.0' --force-reinstall`
And now I have websockets 6.0.0. Now I'm having the message in the log.

However I can't get my sonoff POW R2 (firmware 3.3.0) working. In Developer tools -> States I get 'unavailable' as state for the sonoff. I've created a entity-button card action and it does nothing.

My configuration.yaml:
[code]
My card:
[code]

The sonoff

[2019-07-30 14:26] mattsaxon commented on #72
This component only support firmware 1.8 and 2.x

You need to use my fork for firmware 3.x.

[2019-07-30 14:27] tomascrespo commented on #72
I have run your test script:
[code]
and it stops at this point

[2019-07-30 14:31] tomascrespo commented on #72
I will give it a try

[2019-07-30 14:31] mattsaxon commented on #72
When you say my component, do you mean mine @mattsaxon or @beveradb. This repo is @beveradb’s not mine.

Your switch is firmware 3.x, so you cannot use the code in this repo. Please use my fork of the repo

[2019-07-30 14:47] tomascrespo commented on #72
I realaised now. All my test until this point were with @beveradb repo.

Now I'm testing @mattsaxon repo. One thing. In your fork, should I block the sonoff of connecting to the internet?

In your README you say:
[code]

Local IP? or device ID? I think is Device ID, because there is an example above.

[2019-07-30 14:50] tomascrespo commented on #72
This is my configuration.yaml with @mattsaxon repo:
[code]

And now I getting this errors:
[code]

[2019-07-30 15:15] mattsaxon commented on #72
Correct device id, i've corrected the readme, thanks

The errors says the API key is wrong. You look like you have the correct format, are you sure the API key is correct..... the seems to be 2 API keys sometime, an api_key and a self_api key. You must use the api_key, how did you capture it?

[2019-07-30 15:30] tomascrespo commented on #72
I did capture with the instructions in your repo. I got this values:
`{"deviceid":"1000916149","apikey":"123b1213-2fa6-4ef2-a27c-718fae8ec06d","accept":"post","chipid":"001BA856"}`

I find strange that your component don't need the local ip address of the sonoff device

[2019-07-30 15:36] mattsaxon commented on #72
Honestly it doesn't need the IP address, it uses mDNS to discover it.

I've found the issue I think, I haven't tested with a POW R2 before, so the message is longer than for other devices. I need to make a code change, since I don't have one to test with are you happy to be my tester, it may take a few goes!

[2019-07-30 15:54] mattsaxon commented on #72
@tomascrespo I've posted an updated zip file in my repo that I think will fix it. If it doesn't can you post a debug log please?

[2019-07-30 16:01] tomascrespo commented on #72
I will try in a few hours and report...

Great job @mattsaxon !!! 👏
Now is working perfectly! I can switch on and off my sonoff POW R2 from Home Assistant without need of flashing it with an alternative firmware. Even more, I think your code doesn´t need that the sonoff is on LAN Mode, isn´t it?

One more thing. Would it be possible to get data from the sonoff, like current (Amps or Watts)?

[2019-08-04 10:17] mattsaxon commented on #72
With firmware 3.x you don't need to set the device into LAN mode, it works by default.

This would certainly be possible, but I don't have a device to test with.

If you could open a specific issue for this feature request and post a debug log from your setup I can see if I can add.

[2019-08-04 10:17] #72 closed, assigned to nobody

[2019-08-04 10:23] #52 closed, assigned to mattsaxon

[2019-08-04 10:24] #14 closed, assigned to mattsaxon

[2019-08-04 10:25] #21 closed, assigned to mattsaxon

[2019-08-04 10:25] mattsaxon commented on #7
this has been resolved in the latest version (and in fact quite a few version back)

[2019-08-04 10:25] #7 closed, assigned to beveradb

[2019-08-04 10:26] #56 closed, assigned to mattsaxon

[2019-08-04 10:27] mattsaxon commented on #69
@max-rh, can you confirm that this worked for you too.

[2019-08-04 10:30] mattsaxon commented on #66
Resolved in latest pysonofflan 0.3.0

[2019-08-04 10:30] #66 closed, assigned to mattsaxon

[2019-08-04 10:31] mattsaxon commented on #69
I have updated the readme to state that manifest.json needs to be in the folder too.

Closing, please reopen if this is still a problem

[2019-08-04 10:31] #69 closed, assigned to mattsaxon

[2019-10-28 18:48] quinzico opened #74 "SonoffLANModeClient connection failed: did not receive a valid HTTP response"
Hi,

I have some sonoff with 2.6.1 version and tried to install the component to control my sonoffs.

I'm running hassbian with HA 0.100.3

The sonoff to be tested works only on lan mode from the ewelink app.

I've inserted the files on raspberry (configuration.yaml is on /home/homeassistant/.homeassistant/)
$ ls -l /home/homeassistant/.homeassistant/custom_components/sonoff_lan_mode/
total 16
-rw

[2019-10-28 19:06] mattsaxon commented on #74
How do you know the IP address is accurate?

Have you made a static assignment and blocked the switch from contacting the itead cloud in your router?

Sent from my iPhone

On 28 Oct 2019, at 18:48, quinzico <notifications@github.com> wrote:

﻿

Hi,

I have some sonoff with 2.6.1 version and tried to install the component to control my sonoffs.

I'm running hassbian with HA 0.100.3

The sonoff to b

[2019-10-28 20:12] quinzico commented on #74
Hi Matt,

Thanks for replying.

I have it statically assigned. As you can see on the pictures below the IP
has the correct sonoff MAC address. So it’s the correct IP.

Besides this, ive blocked all outside comunication to this IP

mattsaxon <notifications@github.com> escreveu em seg, 28/10/2019 às 19:06 :

--
Com os meus cumprimentos,

Hélder Quinzico

[2019-10-28 20:51] mattsaxon commented on #74
Thanks. I’m not clear why this is not working then. You’ve followed the correct procedure.

Sorry but I doubt I can help further as all my devices are on v3 firmware which uses a different protocol.

Have you considered updating the firmware and using the latest code in my repository fork?

Sent from my iPhone

On 28 Oct 2019, at 20:12, quinzico <notifications@github.com> wrote:

﻿Hi Matt,

Thanks

[2019-10-28 20:55] quinzico commented on #74
Hi Matt,

All my sonoff pow are on 2.6.1 and there is no update available. Only my
sonoff basic are on 3.x.x

That’s  why I wanted to checkout the procedure with 2.6.1 to try to have
both procedures working at the same time on a next phase.

mattsaxon <notifications@github.com> escreveu em seg, 28/10/2019 às 20:51 :

--
Com os meus cumprimentos,

Hélder Quinzico

[2019-10-28 21:24] mattsaxon commented on #74
Understood.

Are you using the v3 code in side by side mode for you basics?

Next step would be to turn on debit logging so we can see what is occurring. The debug log will have the message in it so I can perhaps visually see what is wrong with it.

There will be lots of data so please Pete just the relevant parts as I’m on a phone at the moment

Sent from my iPhone

On 28 Oct 2019, at 20:55, quin

[2019-10-28 22:42] quinzico commented on #74
Hi Matt,

On the logs I have something strange:
Log Details (ERROR)

Mon Oct 28 2019 22:25:49 GMT+0000 (WET)

Error doing job: Exception in callback WebSocketResponse._send_heartbeat()

Traceback (most recent call last):
  File "/usr/lib/python3.7/asyncio/events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "/srv/homeassistant/lib/python3.7/site-packages/aiohttp/w

[2019-11-23 13:15] benoitvinc opened #76 "Integration 'sonoff_lan_mode' not found."
I'm running the latest version of this application under Home assistant 0.102.1 .
I have copied the switch.py and manifest.json to the "/custom_components/sonoff_lan_mode/" directory and added the following config under my configuration.yaml file :

switch:
  - platform: sonoff_lan_mode
    name: Salon01
    host: 192.168.2.181
    icon: mdi:lightbulb

Now, when i restart the home server service,

[2019-12-30 04:27] mattsaxon commented on #76
What version of firmware is your sonoff running?

[2020-01-25 12:42] mattsaxon commented on #74
I suspect a web socket library version issue. If I recall this library works with version 7.0

[2020-01-25 12:53] quinzico commented on #74
I think I tried with 7.0, but I’ll re-check it.

Thanks Matt

mattsaxon <notifications@github.com> escreveu em sáb, 25/01/2020 às 12:42 :

--
Com os meus cumprimentos,

Hélder Quinzico

[2020-01-25 12:54] mattsaxon commented on #74
So still no v3 firmware for these devices then?

[2020-01-25 15:54] quinzico commented on #74
Yes, still no v3 fw

mattsaxon <notifications@github.com> escreveu em sáb, 25/01/2020 às 12:55 :

--
Com os meus cumprimentos,

Hélder Quinzico

[2020-04-29 19:13] Bluhme1 opened #78 "Problems with 0.109"
Hi
After upgrading to 0.109 this component stopped working
Anyone else got this problem?

[2020-04-29 19:14] mattsaxon commented on #78
My fork has the same issue too apparently. Haven’t had a chance to look at it yet though.

[2020-05-07 19:49] Alexsvid commented on #78
I have the same ploblem with 109. Status are  correctly displayed, but on/off not worked.

[2020-05-27 21:23] Cybersmurfen commented on #78
I've fixed the problems. Made a fork and uploaded the new switch.py to that repository.
As I'm using it myself to control the kids disco light, I'll try to look after the code for a few more years if possible, but @beveradb made all the work.

Thanks @mattsaxon for the small changes that made this work in this version too!

[2020-06-15 06:45] almaziphone opened #79 "After upgrading to 0.111.2 this component stopped working"
Hi
After upgrading to  0.111.2 this component stopped working
Anyone else got this problem?

[2020-06-20 14:23] derexchan commented on #79
I get the same issue also.

- KeyError: 'extremes'

[2020-06-21 18:05] Hooolm commented on #79
Same here